.btn-small {
	padding: 15px 50px;
	border: 1px solid #000;
	border-radius: 0.5rem;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	transition: all 0.3s;

	&:hover {
		color: #fff;
		background-color: #0a0a0a;
		cursor: pointer;
	}
}

.btn-large {
	width: 100%;
	padding: 15px 0;
	border: 1px solid #000;
	border-radius: 0.5rem;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	transition: all 0.3s;

	&:hover {
		color: #fff;
		background-color: #0a0a0a;
		cursor: pointer;
	}
}
